/test
/testdata
/debug_output
/checkpoints
/logs
/data_simu
/data_simu2
/output
/DSEC_data
/DSEC_data_old
/DAVIS
/EVK4
/EVK4_defocus
/EVK4_bad
/data_simu2_old
/checkpoints_old
/datasimu2
/MainDatasimu2_data
/MainReal_data